*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    font-size: 2rem;
    min-height: 100vh;
    background: linear-gradient(to bottom right, #905E96, #D58BDD)
}
#root{
    gap: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}